<html>
  <head>
    <title>My Angular App!</title>
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <script src="/javascript/libraries/angular.min.js"></script>
    <script src="/javascript/libraries/angular-ui-router.js"></script>
    <script src="/javascript/angularApp.js"></script>
    <script src="/javascript/controllers/01-controllers.js"></script>
    <script src="/javascript/controllers/PostsCtrl.js"></script>
    <script src="/javascript/services/01-services.js"></script>
    <script src="/javascript/services/postHandler.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <script type="text/ng-template" id="/home.html">
    Hello
  </script>
  <body ng-app="flapperNews">
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>        
      </div>
    </div>
  </body>
</html>